"*":
  core:
    projectHome: "..\\..\\babun\\cygwin\\home\\bananas"
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "8e1fced2-7155-296c-7396-b9d9510ac16d"
  "linter-php":
    executablePath: "..\\..\\.babun\\cygwin\\bin\\php.exe"
  welcome:
    showOnStartup: false
