# Workspaces
cygwin/home/bananas/workspace/**
cygwin/home/bananas/UwAmp/www/**

# .ssh directory
cygwin/home/bananas/.ssh

# .zcompdump files
cygwin/home/bananas/.zcompdump*

# .*_history files
cygwin/home/bananas/.*_history
