# Blog directories
cygwin/home/bananas/jekyll
cygwin/home/bananas/pelican
cygwin/home/bananas/ghost
cygwin/home/bananas/UwAmp/www/*
cygwin/home/bananas/phonegap

# .ssh directory
cygwin/home/bananas/.ssh

# .zsh_history
cygwin/home/bananas/.zsh_history
